* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;

    a {
      text-decoration: none;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}
